Right-aligned triangle

In [1]:
n = 5
for i in range(1, n+1):
    print(" " * (n-i) + "*" * i)

    *
   **
  ***
 ****
*****

Left-aligned triangle

In [2]:
n = 5
for i in range(1, n+1):
    print("*" * i)

*
**
***
****
*****

Inverted Right Aligned Triangle

In [3]:
n = 5
for i in range(n, 0, -1):
    print(" " * (n-i) + "*" * i)

*****
 ****
  ***
   **
    *

Inverted left-aligned triangle

In [4]:
n = 5
for i in range(n, 0, -1):
    print("*" * i)

*****
****
***
**
*

Pyramid

In [6]:
n = 5
for i in range(1, n+1):
    print(" " * (n-i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********

Inverted Pyramid

In [7]:
n = 5
for i in range(n,0,-1):
    print(" " * (n-i) + "*" * (2*i-1))

*********
 *******
  *****
   ***
    *

HOLLOW PYRAMID

In [10]:
n = 5
print(" " * (n-1) + "*")
for i in range(2, n):
    print(" " * (n-i) + "*" + " " * (2*i-3) + "*")
print("*" * (2*n-1))

    *
   * *
  *   *
 *     *
*********

Hollow inverted pyramid

In [11]:
n = 5
print("*" * (2*n-1))
for i in range(n-1, 1, -1):
    print(" " * (n-i) + "*" + " " * (2*i-3) + "*")
print(" " * (n-1) + "*")

*********
 *     *
  *   *
   * *
    *

Right-aligned number triangle

In [12]:
n = 5
for i in range(1, n+1):
    print(" " * (n-i) + str(i) * i)

    1
   22
  333
 4444
55555

Left-aligned number triangle

In [13]:
n = 5
for i in range(1, n+1):
    print(str(i) * i)

1
22
333
4444
55555

Floyd's Triangle

In [14]:
n = 5
num = 1
for i in range(1, n+1):
    for j in range(1, i+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

Hollow square

In [15]:
n = 5
print("*" * n)
for i in range(n-2):
    print("*" + " " * (n-2) + "*")
print("*" * n)

*****
*   *
*   *
*   *
*****

Cross pattern

In [16]:
n = 5
for i in range(n):
    for j in range(n):
        if i == j or i == n-j-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*   *
 * *
  *
 * *
*   *

Hourglass pattern

In [17]:
n = 5
for i in range(n, 0, -1):
    print(" " * (n-i) + "*" * (2*i-1))
for i in range(2, n+1):
    print(" " * (n-i) + "*" * (2*i-1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

Zigzag pattern

In [18]:
n = 5
for i in range(n):
    for j in range(n):
        if i == j or (i+j) == n-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*   *
 * *
  *
 * *
*   *

Number triangle

In [19]:
def print_pascal_triangle(n):
    for i in range(1, n+1):
        coeff = 1
        for j in range(1, n-i+1):
            print(" ", end="")
        for j in range(1, i+1):
            print(coeff, end=" ")
            coeff = coeff * (i - j) // j
        print()

print_pascal_triangle(5)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

Solid diamond

In [20]:
n = 5
for i in range(1, n+1):
    print(" " * (n-i) + "*" * (2*i-1))
for i in range(n-1, 0, -1):
    print(" " * (n-i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

Spiral pattern

In [21]:
def print_spiral_pattern(n):
    for i in range(0, n):
        for j in range(0, n):
            print(min(i, j, n - i - 1, n - j - 1), end=" ")
        print()

print_spiral_pattern(5)

0 0 0 0 0
0 1 1 1 0
0 1 2 1 0
0 1 1 1 0
0 0 0 0 0

Binary number triangle

In [22]:
def print_binary_triangle(n):
    for i in range(1, n+1):
        for j in range(1, i+1):
            print(bin(j).replace("0b", ""), end=" ")
        print()

print_binary_triangle(5)

1
1 10
1 10 11
1 10 11 100
1 10 11 100 101